---
title: Tech News & Reviews
layout: default
---


<div class="divider text-center">
  <i class="fa fa-diamond">web</i>
</div>

<div class="post-wrap">
  {% for post in site.posts %}
  {% if post.label == 'web' %}
  <div class="row post-glimpse">

    <div class="col-md-4 col-md-push-8">
      <a href="{{post.url}}"><img src="{{site.github.url}}/img/{{post.image}}" class="img-responsive"></a>
  </div>

  <div class="post-glimpse-text col-md-8 col-md-pull-4">
    <a href="{{post.url}}"><h4>{{post.title}}</h4></a>
    {{post.excerpt}}
  </div>
</div>
  {% endif %}
  {% endfor %}
</div>