<nav class="text-center">
  <ul class="pull-right">
    
  
    <li><a  href="{{site.github.url}}/conspirancy.html" class ="hvr-overline-from-center">Conspirancy</a></li>
    <li><a  href="{{site.github.url}}/reviews.html" class ="hvr-overline-from-center">Reviews</a></li>
    <li><a  href="{{site.github.url}}/learn.html" class ="hvr-overline-from-center" ">learn</a></li>
     <li><a  href="{{site.github.url}}/hack.html" class ="hvr-overline-from-center">Hack</a></li>
    <li><a  href="{{site.github.url}}/web.html"  class ="hvr-underline-from-center" >The web</a></li>
    <li><a  href="#"  class ="hvr-underline-from-center" onclick="alert()">Mobile</a></li>
    <li><a  href="#"  class ="hvr-underline-from-center" onclick="alert()">Finance</a></li>
     <li><a href="#"  class ="hvr-underline-from-center" onclick="alert()">Kigali</a></li>
     <li><a href="#"  class ="hvr-underline-from-center" onclick="alert()">Gaming</a></li>
     <li><a href="#"  class ="hvr-underline-from-center" onclick="alert()">Gear</a></li>
     <li><a href="#"  class ="hvr-underline-from-center" onclick="alert()">Jobs</a></li>
    <li><a href="{{site.github.url}}/about.html"  class ="hvr-underline-from-center">About</a></li>
  </ul>
    <div class="pull-left">
      {% include social-icons.html %}
    </div>
</nav>
