<nav class="text-center">
  <ul class="pull-right">
    
    <li><a  href="#" onclick="alert()">Apps</a></li>
    <li><a  href="#" onclick="alert()">The web</a></li>
    <li><a  href="#" onclick="alert()">Mobile</a></li>
    <li><a  href="#" onclick="alert()">Finance</a></li>
     <li><a href="#" onclick="alert()">Kigali</a></li>
     <li><a href="#" onclick="alert()">Gaming</a></li>
     <li><a href="#" onclick="alert()">Gear</a></li>
     <li><a href="#" onclick="alert()">Jobs</a></li>
    <li><a href="{{site.github.url}}/about.html">About</a></li>
  </ul>
    <div class="pull-left">
      {% include social-icons.html %}
    </div>
</nav>
