---
layout: default
---

<div class="post-layout-wrap">

<div class="post-header">
  <div class="panel">
    <div class="panel-header">
      <h1>{{page.title}}</h1>
      <ul class="post-details breadcrumb">
      <li class="author-wrap">By: <span class="author">{{page.author}}</span></li>
      <li> {{ page.date | date: "%B %-d, %Y" }}</li>
    </ul>
    </div>
    <div class="img-wrap">
      <img src="{{site.github.url}}/img/{{page.image}}" class="img-responsive">
    </div>
  </div>

</div>

<div class="row">
<div class="col-md-8 post-content-wrap">
  {{content}}
</div>
<div class="col-md-4 ads-trends-wrap">
  <div class="ads-trends">
    <h1 class="trending text-uppercase">Other Articles</h1>
    {% for post in site.posts %}
    {% if post.label == 'trending' %}
    <div class="trending-content thumbnail">
      <a href="{{post.url}}"><img src="{{site.github.url}}/img/{{post.image}}" class="img-responsive"></a>
      <span class="subtitle"><a href="{{post.url}}">{{post.title}}</a></span>
     </div>

     {% endif %}
     {% endfor %}
   </div>



  </div>
</div>

</div>

</div>
